table th {
	white-space: nowrap;
	vertical-align: middle !important;
	text-align:center;
}

table td {
	white-space: nowrap;
	vertical-align: middle !important;
}

body,
table {
	font-size: 12px;
}

table {
	empty-cells: show;
	border-collapse: collapse;
	margin: 0 auto;
}

div {
	padding: 5px 5px 5px 5px;
	;
}
 