<!DOCTYPE html>
<html>
	<!--
    	作者：gengtao2006@163.com
    	时间：2017-10-17
    	描述： 输变电项目水土保持工程量对比表
    -->

	<head>
		<meta charset="utf-8">
		<!--		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
-->
		<meta name="viewport" content="initial-scale=1" />
		<title>输变电项目水土保持工程量对比表</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
		<script src="js/exceljs.min.js"></script>
		<script src="js/FileSaver.min.js"></script>
		<script src="js/table2excel.js"></script>
	</head>

	<body>
		<div>
			<table class="table table-bordered" border="1" align="center">
				<!--<caption>输变电项目水土保持工程量对比表</caption>-->
				<thead>
					<tr>
						<th>措施类型</th>
						<th>防治区</th>
						<th>水土保持工程开工时间</th>
						<th>防治措施</th>
						<th>单位</th>
						<th>实际完成工程量</th>
						<th>设计工程量</th>
						<th>未能设计工程量原因</th>
					</tr>
				</thead>
				<tbody id="table_body">
				</tbody>
			</table>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.tmpl.js"></script>
	<script id="tmpl_row" type="type/x-jquery-tmpl">
		{{each(i,item) rows}}
		<tr>
			{{if item.measureCnt >0}}
			<td rowspan="${measureCnt}">${measureType}</td>
			{{/if}} {{if item.areaCnt >0}}
			<td rowspan="${areaCnt}">${area}</td>
			{{/if}}
			<td>${starttime}</td>
			<td>${measure}</td>
			<td>${unit}</td>
			{{if item.caseQuantity/item.designQuantity
			<0.8}} <td style="background-color: red;">${caseQuantity}</td>
				{{else}}
				<td style="background-color: white;">${caseQuantity}</td>
				{{/if}}
				<td>${designQuantity}</td>
				<td>${cause}</td>
		</tr>
		{{/each}}
	</script>
	<script>
	    //measure=工程措施&area=施工道路区

		var measure = getUrlParam("measure");
		var area = getUrlParam("area");


		fiterRefresh(null, measure, area);

		function fiterRefresh(province, measure, area) {

			jQuery.getJSON("data/gcldb.js",
				function(data) {
					var result = {
						rows: []
					};
					var resultIndex = 0;
					for(var i = 0; i < data.rows.length; i++) {
						var row = data.rows[i];
						if(row.measureType == measure ||
							measure == null || measure == "") {
							if(row.area == area || area == null ||
								area == "") {
								result.rows[resultIndex++] = row;
							}
						}
					}
					//result = data;
					//拆分措施类型
					var measureTypeRow = null;
					var indexCount = 0;
					for(var i = 0; i < result.rows.length; i++) {
						var row = result.rows[i];
						if(measureTypeRow == null) {
							measureTypeRow = row;
						}
						if(measureTypeRow.measureType != row.measureType) {
							measureTypeRow.measureCnt = indexCount;
							measureTypeRow = row;
							indexCount = 1;
						} else {
							indexCount++;
							row.measureCnt = 0;
						}
						if(i == result.rows.length - 1) {
							measureTypeRow.measureCnt = indexCount;
						}
					}

					//拆分防治区
					var areaTypeRow = null;
					indexCount = 0;
					for(var i = 0; i < result.rows.length; i++) {
						var row = result.rows[i];
						if(areaTypeRow == null) {
							areaTypeRow = row;
						}
						if(areaTypeRow.area != row.area) {
							areaTypeRow.areaCnt = indexCount;
							areaTypeRow = row;
							indexCount = 1;
						} else {
							indexCount++;
							row.areaCnt = 0;
						}
						if(i == result.rows.length - 1) {
							areaTypeRow.areaCnt = indexCount;
						}
					}
					$('#table_body').empty();
					$("#tmpl_row").tmpl(result).appendTo('#table_body');

				}

			);

		}
			function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if(r != null) return decodeURI(r[2]);
			return null;
		}
	</script>

</html>
